output-schema/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="tweet"/>
        <xs:element name="ordering">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="emoji" maxOccurs="20" minOccurs="20">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="emoji_name" use="required"/>
                      <xs:attribute type="xs:byte" name="label" use="required"/>
                      <xs:attribute type="xs:byte" name="position" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>